RESTIC_REPOSITORY=sftp:tiffy:/data/zeus/restic/paperless
RESTIC_TAG=paperless
BACKUP_PATHS="/source/paperless-ngx/db/latest.sql /source/paperless-data /source/paperless-media"
KEEP_DAILY=14
KEEP_WEEKLY=8
KEEP_MONTHLY=12

SYSTEMD_ON_CALENDAR="*-*-* 03:05:00"
SYSTEMD_RANDOMIZED_DELAY_SEC=5m
SYSTEMD_ACCURACY_SEC=1m
